version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  run-requierd-builds:
    jobs:
      - path-filtering/filter:
          mapping: |
            apps/app1/.* app1 true
            apps/app2/.* app2 true
            apps/app3/.* app3 true
            apps/app3/.* app2 true
          config-path: .circleci/workflows.yml



