version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            apps/app1/.* app1 true
            apps/app2/.* app2 true
            apps/app3/.* app3 true
          config-path: .circleci/workflows.yml
