version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false
  trigger-all:
    type: boolean
    default: false


commands: # a reusable command with parameters
  greeting:
    parameters:
      to:
        default: false
        type: boolean
    steps:
      - run: echo "Hello <<parameters.to>>"

jobs:
  app1-job:
    docker:
      - image: cimg/base:stable
    parameters:
      custom_parameter:
        type: boolean
        default: false
    resource_class: small
    steps:
      - when:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "running"

      - unless:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "echo not running"

  app2-job:
    docker:
      - image: cimg/base:stable
    parameters:
      custom_parameter:
        type: boolean
        default: false
    resource_class: small
    steps:
      - when:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "running"

      - unless:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "echo not running"

  app3-job:
    docker:
      - image: cimg/base:stable
    parameters:
      custom_parameter:
        type: boolean
        default: false
    resource_class: small
    steps:
      - when:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "running"

      - unless:
          condition: << parameters.custom_parameter >>
          steps:
            - run: echo "echo not running"


  # app2-job:
  #   docker:
  #     - image: cimg/base:stable
  #   resource_class: small
  #   parameters:
  #     custom_parameter:
  #       type: boolean
  #       default: false
  #   environment:
  #     CIRCLE_APP: << pipeline.parameters.app2 >>
  #     TRIGGER_ALL: << pipeline.parameters.trigger-all >>
  #   steps:
  #     - when:
  #         condition:
  #           or:
  #             - and:
  #               - or: [ << pipeline.parameters.app2 >> ]
  #         steps:
  #           - run: echo "echo $CIRCLE_APP"
  #           - run: echo "echo $TRIGGER_ALL"
  #     - unless:
  #         condition:
  #           or:
  #             - and:
  #               - or: [ << pipeline.parameters.app2 >> ]
  #         steps:
  #           - run: echo "echo not $CIRCLE_APP"
  #           - run: echo "echo not $TRIGGER_ALL"


  # app3-job:
  #   docker:
  #     - image: cimg/base:stable
  #   resource_class: small
  #   environment:
  #     CIRCLE_APP: << pipeline.parameters.app3 >>
  #     TRIGGER_ALL: << pipeline.parameters.trigger-all >>
  #   steps:
  #     - when:
  #         condition:
  #           or:
  #             - and:
  #               - or: [ << pipeline.parameters.app3 >> ]
  #         steps:
  #           - run: echo "echo $CIRCLE_APP"
  #           - run: echo "echo $TRIGGER_ALL"

  #     - unless:
  #         condition:
  #           or:
  #             - and:
  #               - or: [ << pipeline.parameters.app3 >> ]
  #         steps:
  #           - run: echo "echo not $CIRCLE_APP"
  #           - run: echo "echo not $TRIGGER_ALL"

workflows:

  app1:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app1 >>
    jobs:
      - app1-job:
          custom_parameter: true

  app2:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app2 >>
    jobs:
      - app2-job:
          custom_parameter: true

  app3:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app3 >>
    jobs:
      - app3-job:
          custom_parameter: true
