version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false
  is_pr:
    type: boolean
    default: false
  trigger-all:
    type: boolean
    default: false


commands: # a reusable command with parameters
  greeting:
    parameters:
      to:
        default: false
        type: boolean
    steps:
      - run: echo "Hello <<parameters.to>>"



jobs:

  check_if_pr_job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - run:
          command: |
            if [ -z "${CIRCLE_PULL_REQUEST##*/}" ]
            then
              IS_PR=false
            else
              IS_PR=true
            fi
            echo '{ "is_pr": '$IS_PR' }' >> /tmp/pipeline-parameters.json  
    
  app1-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or: 
              - << pipeline.parameters.app1 >>
              - << pipeline.parameters.trigger-all >> 
              - << pipeline.parameters.is_pr >>
          steps:
            - run: echo "running"

      - unless:
          condition: 
            or: 
              - << pipeline.parameters.app1 >>
              - << pipeline.parameters.trigger-all >> 
          steps:
            - run: echo "echo not running"

  app2-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or: 
              - << pipeline.parameters.app2 >>
              - << pipeline.parameters.trigger-all >> 
              - << pipeline.parameters.is_pr >>
          steps:
            - run: echo "running"

      - unless:
          condition: 
            or: 
              - << pipeline.parameters.app2 >>
              - << pipeline.parameters.trigger-all >> 
          steps:
            - run: echo "echo not running"

  app3-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or: 
              - << pipeline.parameters.app3 >>
              - << pipeline.parameters.trigger-all >> 
              - << pipeline.parameters.is_pr >>
          steps:
            - run: echo "running"

      - unless:
          condition:
            or: 
              - << pipeline.parameters.app3 >>
              - << pipeline.parameters.trigger-all >> 
          steps:
            - run: echo "echo not running"


workflows:

  app1:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app1 >>
    jobs:
      - check_if_pr_job
      - app1-job

  app2:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app2 >>
    jobs:
      - check_if_pr_job
      - app2-job

  app3:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app3 >>
    jobs:
      - check_if_pr_job
      - app3-job
