version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false

commands:
  common:
    parameters:
      custom_parameter:
        default:  false
        type: boolean
    steps:
      - run: echo "Hello <<parameters.custom_parameter>>"

jobs:
  app1-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: <<parameters.custom_parameter>>
          steps:
          - common:
              custom_parameter: <<parameters.custom_parameter>>
      - unless:
          condition: <<parameters.custom_parameter>>
          steps:
          - common:
              custom_parameter: <<parameters.custom_parameter>>

  app2-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      custom_parameter:
        type: boolean
        default: false
    steps:
      - when:
          condition: <<parameters.custom_parameter>>
          steps:
            - checkout
            - run: echo "running"
      - unless:
          condition: <<parameters.custom_parameter>>
          steps:
            - checkout
            - run: echo "not running"

  app3-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      custom_parameter:
        type: boolean
        default: false
    steps:
      - when:
          condition: <<parameters.custom_parameter>>
          steps:
            - checkout
            - run: echo "running"
      - unless:
          condition: <<parameters.custom_parameter>>
          steps:
            - checkout
            - run: echo "not running"

workflows:
  app1:
    jobs:
      - app1-job:

  app2:
    jobs:
      - app2-job:
          custom_parameter: <<pipeline.parameters.app2>>

  app3:
    jobs:
      - app3-job:
          custom_parameter: <<pipeline.parameters.app3>>