version: 2.1

orbs:
  docker: circleci/docker@1.5.0
  continuation: circleci/continuation@0.3.1

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false

workflows:
  app1:
    when:
      or:
        - << pipeline.parameters.app1 >>
    jobs:
      - continuation/continue:
          configuration_path: apps/app1/.circleci/app1.yml


