version: 2.1

parameters:
  build-app1:
    type: boolean
    default: false
  build-app2:
    type: boolean
    default: false
  build-app3:
    type: boolean
    default: false
  trigger-all:
    type: boolean
    default: false

executors:
  base:
    docker:
      - image: cimg/base:stable
    resource_class: small


jobs:
  tests-done:
    executor: base
    steps:
      - run: echo "DONE"

  build-app1:
    executor: base
    steps:
      - unless:
          condition: 
            or: 
              - << pipeline.parameters.build-app1 >>
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: |
                circleci-agent step halt
      - checkout
      - run: |
          chmod +x .circleci/test.sh
          bash .circleci/test.sh 

          echo "circle ci env"
          echo $TEST

          echo "circle odpalany w circlu"
          echo 'export TEST2="test"' >> "$BASH_ENV"
          source "$BASH_ENV"
          echo $TEST
          echo $TEST2



    

workflows:
  just-this-one:
    jobs:
      - build-app1
      - tests-done:
          requires:
            - build-app1