version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false

jobs:

  app1-job:
    docker:
      # next-gen ubuntu image with java 11.0.10
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - run: "echo 'app1 not running'"

  apps-set-true:
    docker:
      # next-gen ubuntu image with java 11.0.10
      - image: cimg/base:stable
    resource_class: small
    steps:
      - run: 'echo "No build requiered"'



workflows:
   app1:
     when: << pipeline.parameters.app1 >> 
     jobs:
      - app1-job
     steps:
      - run: 'echo "no build requiered"'          
  #  app2:
  #   jobs:
  #     - app2-job

  #  app3:
  #   jobs:
  #     - app3-job


