version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false

jobs:
  app1-job:
    docker:
      # next-gen ubuntu image with java 11.0.10
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      - when:
          or:
           - << pipeline.parameters.app1 >>
          steps:
            - run:
                name: "Say hello"
                command: "echo app1 prod!"
      - run: ' echo "no build requiered"'

  # app2-job:
  #   docker:
  #     # next-gen ubuntu image with java 11.0.10
  #     - image: cimg/base:stable
  #   resource_class: small
  #   steps:
  #     - checkout
  #     - run:
  #         name: "Say hello"
  #         command: "echo app2 prod!"
  # app3-job:
  #   docker:
  #     # next-gen ubuntu image with java 11.0.10
  #     - image: cimg/base:stable
  #   resource_class: small
  #   steps:
  #     - checkout
  #     - run:
  #         name: "Say hello"
  #         command: "echo app3 prod!"

  apps-set-true:
    docker:
      # next-gen ubuntu image with java 11.0.10
      - image: cimg/base:stable
    resource_class: small
    steps:
      - run: 'echo "No build requiered"'



workflows:
   app1:
    jobs:
      - app1-job:
          filters:
            branches:
              only: main

          
  #  app2:
  #   when: << pipeline.parameters.app2 >>
  #   jobs:
  #     - app2-job
  #     - app2-job:
  #         requires:
  #           - app2-job
  #         filters:
  #           branches:
  #             only: main


  #  app3:
  #   when: << pipeline.parameters.app3 >>
  #   jobs:
  #     - app3-job
  #     - app3-job:
  #         requires:
  #           - app3-job
  #         filters:
  #           branches:
  #             only: main

