version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false

commands: # a reusable command with parameters
  greeting:
    parameters:
      to:
        default: "world"
        type: string
    steps:
      - run: echo "Hello <<parameters.to>>"

jobs:
  app1-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: << pipeline.parameters.app1 >>
          steps:
            - greeting:
                to: "My-Name"

      - unless:
          condition: << pipeline.parameters.app1 >>
          steps:
            - greeting:
                to: "My-Name2"


  # app2-job:
  #   docker:
  #     - image: cimg/base:stable
  #   resource_class: small
  #   parameters:
  #     custom_parameter:
  #       type: boolean
  #       default: false
  #   steps:
  #     - when:
  #         condition: <<parameters.custom_parameter>>
  #         steps:
  #           - checkout
  #           - run: echo "running"
  #     - unless:
  #         condition: <<parameters.custom_parameter>>
  #         steps:
  #           - checkout
  #           - run: echo "not running"

  # app3-job:
  #   docker:
  #     - image: cimg/base:stable
  #   resource_class: small
  #   parameters:
  #     custom_parameter:
  #       type: boolean
  #       default: false
  #   steps:
  #     - when:
  #         condition: <<parameters.custom_parameter>>
  #         steps:
  #           - checkout
  #           - run: echo "running"
  #     - unless:
  #         condition: <<parameters.custom_parameter>>
  #         steps:
  #           - checkout
  #           - run: echo "not running"

workflows:
  app1:
    jobs:
      - app1-job:

  # app2:
  #   jobs:
  #     - app2-job:
  #         custom_parameter: <<pipeline.parameters.app2>>

  # app3:
  #   jobs:
  #     - app3-job:
  #         custom_parameter: <<pipeline.parameters.app3>>