version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false
  trigger-all:
    type: boolean
    default: false
  is_pr:
    type: boolean
    default: false


commands: # a reusable command with parameters
  greeting:
    parameters:
      to:
        default: false
        type: boolean
    steps:
      - run: echo "Hello <<parameters.to>>"

jobs:
  app1-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or:
              - << pipeline.parameters.app1 >> 
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo running

      - unless:
          condition: 
            or: 
              - << pipeline.parameters.app1 >>
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo not running 


  app2-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      custom_parameter:
        type: boolean
        default: false
    steps:
      - when:
          condition: 
            or:
              - << pipeline.parameters.app2 >> 
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo running
      - unless:
          condition:
            or: 
              - << pipeline.parameters.app2 >>
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo not running


  app3-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or:
              - << pipeline.parameters.app3 >> 
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo running
      - unless:
          condition: 
            or:
              - << pipeline.parameters.app3 >>
              - << pipeline.parameters.trigger-all >>
          steps:
            - run: echo not running

  pre-workflows-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - run:
          command: |
            if [ -z "${CIRCLE_PULL_REQUEST##*/}" ]
            then
              IS_PR=false
            else
              IS_PR=true
            fi
            echo '{ "is_pr": '$IS_PR' }' >> /tmp/pipeline-parameters.json	


workflows:

  pre-workflows-job:
    jobs:
      - pre-workflows-job

  app1:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app1 >>
        - << pipeline.parameters.is_pr >>
        - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - app1-job:
          requires:
            - pre-workflows-job

  app2:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app2 >>
        - equal: [ main, << pipeline.git.branch >> ]
        - << pipeline.parameters.is_pr >>
    jobs:
      - app2-job:
          requires:
            - pre-workflows-job

  app3:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app3 >>
        - equal: [ main, << pipeline.git.branch >> ]
        - << pipeline.parameters.is_pr >>
    jobs:
      - app3-job:
          requires:
            - pre-workflows-job
