version: 2.1

orbs:
  docker: circleci/docker@1.5.0

parameters:
  app1:
    type: boolean
    default: false
  app2:
    type: boolean
    default: false
  app3:
    type: boolean
    default: false
  trigger-all:
    type: boolean
    default: false


commands: # a reusable command with parameters
  greeting:
    parameters:
      to:
        default: false
        type: boolean
    steps:
      - run: echo "Hello <<parameters.to>>"

jobs:
  app1-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or:
              - equal: [ true, << pipeline.parameters.app1 >>  ] 
              - equal: [ true, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo not running

      - unless:
          condition: 
            or: 
              - equal: [ false, << pipeline.parameters.app1 >>  ] 
              - equal: [ false, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo running 


  app2-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      custom_parameter:
        type: boolean
        default: false
    steps:
      - when:
          condition: 
            or:
              - equal: [ true, << pipeline.parameters.app2 >>  ] 
              - equal: [ true, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo not running
      - unless:
          condition:
            or: 
              - equal: [ false, << pipeline.parameters.app2 >>  ] 
              - equal: [ false, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo running


  app3-job:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - when:
          condition: 
            or:
              - equal: [ true, << pipeline.parameters.app3 >>  ] 
              - equal: [ true, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo not running
      - unless:
          condition: 
            or:
              - equal: [ false, << pipeline.parameters.app1 >>  ] 
              - equal: [ false, << pipeline.parameters.trigger-all >> ]
          steps:
            - run: echo running

workflows:

  app1:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app1 >>
    jobs:
      - app1-job

  app2:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app2 >>
    jobs:
      - app2-job

  app3:
    when: 
      or:
        - << pipeline.parameters.trigger-all >>
        - << pipeline.parameters.app3 >>
    jobs:
      - app3-job
